body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222831;
  font-family: cursive;
}
*:focus{
outline: none;
}
input[type="text"]{
display: block;
box-sizing: border-box;
background: none;
color: #3498db;
margin-bottom: 30px;
padding: 4px;
width: 220px;
height: 32px;
border: none;
border-bottom: 1px solid #0082e6;
font-family: cursive;
font-weight: 400;
font-size: 15px;
transition: 0.2s ease;
}
input[type="text"]:focus{
border-bottom: 2px solid #3498db;
border-bottom-right-radius: 20px;
color: #3498db;
transition: 0.2 ease;
}
input[type="file"]{
display: none;
}
label{
box-sizing: border-box;
font-size: 20px;
background-color: black;
color: white;
border: 1px solid #3498db;
padding: 2px 15px;
border-radius: 5px;
transition: all 0.3s;
}
label:hover{
background-color: #3498db;
color: black;
}
center img{
  border-radius: 50%;
}
button{
  border: 1px solid #3498db;
  background-color: black;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: 0px;
  transition: all 0.3s;
}
button:hover{
  transform: scale(1.1);
}
